%header.navigation{:role => "banner"}
  .navigation-wrapper
    = link_to "javascript:void(0)", class: "navigation-mobile-menu", id: "js-navigation-mobile-menu" do
      = image_tag "hamburger.svg", alt: "Memorial Spalding"
    = link_to '/', class: "logo" do
      = image_tag "logo.png", alt: "Memorial Spalding Logo"
    %nav{:role => "navigation"}
      %ul#js-navigation-menu.navigation-menu
        %li.nav-link
          = nav_link 'About', '/'
        %li.nav-link
          = nav_link 'Information', '/information'
        %li.nav-link
          = nav_link 'Location', '/location'
        %li.nav-link
          = nav_link 'Contact', '/contact'
